CubeSat_OBC_Firmware/Debug/*.elf
CubeSat_OBC_Firmware/Debug/*.bin
CubeSat_OBC_Firmware/Debug/*.hex
CubeSat_OBC_Firmware/Debug/*.list
CubeSat_OBC_Firmware/Debug/*.map
CubeSat_OBC_Firmware/Debug/*.su
CubeSat_OBC_Firmware/Debug/*.o
CubeSat_OBC_Firmware/Release/
*.bak
*.code-workspace
.DS_Store
Thumbs.db
*.docx
*.doc
*.xlsx
*.xls
*.pdf
~$*
CubeSat_OBC_Board_Manual.docx

# Keep only the repository root README
**/README.md
!/README.md
